/* Variables */
:root {
  --foreground-color: rgb(255, 255, 153);
}

/* Basic Elements */
body {
  background: rgb(102, 178, 255);
}

main {
  max-width: 32rem;
  padding: 2rem;
  margin: auto;
}

h1 {
  text-align: center;
  color: var(--foreground-color);
}

/* Controls */
#messageBox {
  padding: 2px;
  text-align: center;
  color: var(--foreground-color);
  border: 2px solid var(--foreground-color);
  border-radius: 8px;
}

#difficulty {
  height: 45px;
  width: 140px;
  border-radius: 8px;
  font-size: 24px;
  background-color: var(--foreground-color);
  color: #666;
  padding-left: 20px;
}

.controls {
  text-align: center;
}

/* Board */
.square {
  display: inline-block;
  width: 10em;
  height: 75px;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 75px;
  color: var(--foreground-color);
}

.left {
  border-right: 1px solid var(--foreground-color);
}

.right {
  border-left: 7px solid var(--foreground-color);
}

.top {
  border-bottom: 1px solid var(--foreground-color);
}

.bottom {
  border-top: 7px solid var(--foreground-color);
}

.v-middle {
  border-right: 1px solid var(--foreground-color);
  border-left: 7px solid var(--foreground-color);
}

.h-middle {
  border-top: 7px solid var(--foreground-color);
  border-bottom: 1px solid var(--foreground-color);
}

/* Buttons */
.button {
  display: inline-block;
  padding: 8px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #666;
  background-color: var(--foreground-color);
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px #999;
  margin-top: 6px;
}

.button:hover {
  background-color: rgb(224, 224, 139);
}

.button:active {
  background-color: rgb(224, 224, 139);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}